.val{
    display: flex;
    flex-direction: row;
    border: solid blue;

}
.h{
    margin: auto;
    font-style: normal;
}
.logo{
    margin: auto;
    font-style: italic;
}
.g{
    display: flex;
    flex-direction: row;
    border: solid green;
}
.e{
    flex-direction: row;
    box-sizing: border-box;
}
.e>img{
    width: 500px;
    height: 400px;
}
.p{
    display: flex;
    flex-direction: row;

}
.f{
    margin: auto;
    display: flex;
    flex-direction: row;

}
#t{
    font-size: 36px;
    color: blue;
    margin: 30px;
}
.m{
    align-items: center;
    text-align: center;

}
.q{
    display: flex;
    flex-direction: row;
    border-spacing: 30px;
}
.b{
    display: flex;
    flex-direction: row;
}
.v{
    margin: auto;
    flex-direction: row;
}
#w{
    font-size: 36px;
    color: blue;
    flex-direction: row;
    align-items: center;
}
.sales{
    display: flex;
    flex-direction: row;
}
.r{
    margin: auto;
}
.c{
    display: flex;
    flex-direction: row;
    border: solid yellow;
} 
.r{
    margin: auto;
    width: auto;
}
.s{
    display: flex;
    border: solid white;
    background-color: #163d8b;
    color: white;

}
.z{
    margin: auto;
}
.x{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.i{
    margin: auto;
}
.l{
    font-size: medium;
    font-weight: 500px;
    font-style: normal;
}
.checkbox{
    flex-direction: column;
    float: left;
    display: flex;
    flex-direction: row;
    border: solid red;
}
.body{
    background-color: #fafafa;
   
}
.button{
    color: blue;
    border-radius: 10px;
    border: none;
    height: 20px;
    width: 20px;
}
.get_started_btn{
    background-color: #2c60d3;
    color: white;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 150px;
}
.search_btn{
    background-color: #2c60d3;
    color: white;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 150px;
    flex-direction: row;
}
.view_more{
    background-color: #2c60d3;
    color: white;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 150px;
    flex-direction: row;
}
.creating{

}
.find_home{
    text-align: left;
    position: absolute;
    padding-right: 80px;
}
.make_payment{
    position: relative;
    text-align: center;
    padding-right: 80px;

}
.learn_btn{
    background-color: #2c60d3;
    color: white;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 150px;
    flex-direction: row;  
}